@{
    ViewData["Title"] = "Home Page";
}

@model Bowler

<form method="post" asp-controler="Home" asp-action="BowlerEntry">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="BowlerID" value="@Model.BowlerID" />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">First Name</span>
        </div>
        <input asp-for="BowlerFirstName" value="@Model.BowlerFirstName" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Middle Initial</span>
        </div>
        <input asp-for="BowlerMiddleInit" value="@Model.BowlerMiddleInit" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Last Name</span>
        </div>
        <input asp-for="BowlerLastName" value="@Model.BowlerLastName" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Address</span>
        </div>
        <input asp-for="BowlerAddress" value="@Model.BowlerAddress" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
        </div>
        <input asp-for="BowlerCity" value="@Model.BowlerCity" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">State</span>
        </div>
        <input asp-for="BowlerState" value="@Model.BowlerState" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Zip</span>
        </div>
        <input asp-for="BowlerZip" value="@Model.BowlerZip" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number</span>
        </div>
        <input asp-for="BowlerPhoneNumber" value="@Model.BowlerPhoneNumber" />
    </div><br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Team</span>
        </div>
        <select asp-for="TeamID" type="text">
            <option value="">Select a Team</option>
            @foreach (Team t in ViewBag.Team)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select>
    </div><br />

    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
