@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<div id="types" class="col-3">
    <vc:bowler-filter></vc:bowler-filter>
</div>
<div class="col-9">
    <h1>League Bowlers: @ViewBag.TeamName</h1>
    <a class="btn btn-primary p-1 m-1"asp-controller="Home" asp-action="BowlerEntry">Add Bowler</a>
    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
            </tr>
        </thread>

        <tbody>
            @foreach (Bowler b in Model)
             {
             <tr>
                <td>@b.BowlerFirstName</td>
                <td>@b.BowlerMiddleInit</td>
                <td>@b.BowlerLastName</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td>@b.BowlerPhoneNumber</td>
                <td><a class="btn btn-warning" asp-action="BowlerEntry" asp-route-id="@b.BowlerID">Edit</a></td>
                <td><a class="btn btn-danger" asp-action="BowlerDelete" asp-route-id="@b.BowlerID">Delete</a></td>
             </tr>
             }
        </tbody>
    </table>
</div>