@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<h1>League Bowlers</h1>
<a asp-controller="Home" asp-action="BowlerEntry" asp-route-id="1">Test Edit</a>
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
        </tr>
    </thread>

    <tbody>
        @foreach (Bowler b in Model)
        {
            <tr>
                <td>@b.BowlerFirstName</td>
                <td>@b.BowlerMiddleInit</td>
                <td>@b.BowlerLastName</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td>@b.BowlerPhoneNumber</td>
                <td><a asp-action="BowlerEdit" asp-route-id="@b.BowlerID"></a></td>
                <td><a asp-action="BowlerDelete" asp-route-id="@b.BowlerID"></a></td>

                @*            <td class="text-center">
                        <form method="post">
                            <input type="hidden" name="bookId" value="@x.Book.BookId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>*@
            </tr>
        }
    </tbody>
